@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-2px);
  }
  100% {
    opacity: 0;
    transform: translateY(-4px);
  }
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.animation span {
  height: 1.4rem;
  width: 1.4rem;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0;
  display: inline-block;
  animation: moveUp 1.5s infinite ease-in-out;
  animation-delay: 0s, 0.5s, 1s;
}

.animation span:nth-child(2) {
  animation-delay: 0.5s, 1s, 1.5s;
}

.animation span:nth-child(3) {
  animation-delay: 1s, 1.5s, 2s;
}
